<% @page_title = "ログイン" %>
<div class="col-md-12 mt-4">
  <h1 style="font-size: 35px;">ログイン</h1>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <%= form_for(:session, url: login_path) do |f| %>
            <div class="form-group">
              <%= f.label "メールアドレス" %>
              <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
            </div>
            <div class="form-group">
              <%= f.label "パスワード" %>
              <%= f.password_field :password, class: 'form-control' ,placeholder: "Password"%>
            </div>
            <%= f.submit "ログイン", class: "btn btn-primary mt-3" %>
          <% end %>
          <p class="mt-2">会員登録をしてない方は <%= link_to "コチラ!", signup_path %></p>
      </div>
    </div>
  </div>
