<% @page_title = "注文一覧" %>
<%= paginate @orders %>
<% @orders.each do |order|%>
  <% if order.isCancel %>
    注文がキャンセルされています<br>
  <% end %>
  <%= order.user.name %>
  <%= order.created_at.to_date %>
  <%= order.pay %>
  <%= order.isDeliver ? "発送済み" : "未発送"%>
  <% total_price = 0%>
  <% order.items.each do |item|%>
    <% total_price += item.price%>
  <% end %>
  合計: <%=total_price%> 円

  <% count_id = []%>
  <% order.items.each do |item|%>
    <% if !count_id.include?(item.id)%>
      <li><%= link_to item.name, [:admin, item] %> 数量：<%= order.items.where(id: item.id).count%></li>
    <% end %>
    <% count_id.push(item.id)%>
  <% end %>

  <%= link_to "注文詳細", [:admin,order]%>
  <% if !order.isCancel%>
    <% if order.isDeliver %>
      <%= link_to "発送を中止する",
                [:admin, order,isDeliver: false],
                method: :patch,
                class: 'fa fa-check-square-o',
                isDeliver: order.isDeliver
                 %>
    <% else %>
    <%= link_to "発送する",
              [:admin, order,isDeliver: true],
              method: :patch,
              class: 'fa fa-square-o',
              isDeliver: order.isDeliver
               %>
    <% end %>
  <% end %>
  <hr>
<% end %>
<%= paginate @orders %>
