<% @page_title = "注文詳細" %>
<% if @order.isCancel %>
  注文がキャンセルされています<br>
<% end %>
<%= @order.user.name %>
<%= @order.user.postcode %>
<%= @order.user.address %>
<%= @order.created_at.to_date %>
<%= @order.pay %>
<%= @order.isDeliver %>
<%= @order.isCancel %>
<% total_price = 0%>
<% @order.items.each do |item|%>
  <% total_price += item.price%>
<% end %>
合計: <%=total_price%> 円
<% @order.items.each do |item|%>
 <li><%= link_to item.name, item%></li>
<% end %>
<%= link_to "注文一覧へ戻る", :admin_orders%>
