<% @page_title = "注文詳細" %>
<%= paginate @orders %>
<% @orders.each do |order|%>
  <% if order.isCancel %>
    注文がキャンセルされています<br>
  <% end %>
  <%= order.created_at.to_date %>
  <%= order.pay %>
  <%= order.isDeliver %>
  <%= order.isCancel %>
  <% total_price = 0%>
  <% order.items.each do |item|%>
    <% total_price += item.price%>
  <% end %>
  合計: <%=total_price%> 円
  <% count_id = []%>
  <% order.items.each do |item|%>
    <% if !count_id.include?(item.id)%>
      <li><%= link_to item.name, item %> 数量：<%= order.items.where(id: item.id).count%></li>
    <% end %>
    <% count_id.push(item.id)%>
  <% end %>
  <%= link_to "注文詳細", order%>
  <hr>
<% end %>
<%= paginate @orders %>
